<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Insurance Detail</title>
  </head>




  <body>

    <div class="container mt-3">

      <div class="row">
        <div class="col">
          <label for="inputStaffCode">Staff Code</label>
          <input type="text" class="form-control" id="inputStaffCode" name="staffCode">
        </div>
        <div class="col">
          <label for="inputStaffName">Staff Name</label>
          <input type="text" class="form-control" id="inputStaffName" name="staffName">
        </div>
        <div class="col">
          <label for="inputPost">Post</label>
          <input type="text" class="form-control" id="inputPost" name="post">
        </div>
      </div>

      <br>
      <h5>Insurance Details</h5>
      <br>

      <div class="row">
        <div class="form-group row">
          <div class="col">
            <label for="inputInsuranceID">Insurance ID</label>
            <input type="text" class="form-control" id="inputInsuranceID" name="insuranceID">
          </div>
          <div class="col">
            <label for="inputCompanyName">Comapany Name</label>
            <select name="companyName">
              <option value="test">Dummy Option</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="inputPolicyNumber">Policy Number</label>
            <input type="text" class="form-control" id="inputPolicyNumber" name="policyNumber">
          </div>
          <div class="col">
            <label for="inputInsuredAmount">Insured Amount</label>
              <input type="text" class="form-control" id="inputInsuredAmount" name="insuredAmount">
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="inputEffectedDate">Effected Date</label>
            <input type="date" class="form-control" id="inputEffectedDate" name="effectedDate">
          </div>
          <div class="col">
            <label for="inputEndDate">End Date</label>
              <input type="date" class="form-control" id="inputEndDate" name="endDate">
          </div>
        </div>

      </div>

      <br>
      <h5>Premium Amount</h5>
      <br>

      <div class="row">

        <div class="col">
          <div class="form-group row">
            <div class="col">
              <label for="inputAnnualPremiumAmount">Annual</label>
              <input type="text" class="form-control" id="inputAnnualPremiumAmount" name="annualPremiumAmount">
            </div>
            <div class="col">
              <label for="inputHalfYearlyPremiumAmount">Half Yearly</label>
              <input type="text" class="form-control" id="inputHalfYearlyPremiumAmount" name="halfYearlyPremiumAmount">
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label for="inputQuarterlyPremiumAmount">Quarterly</label>
              <input type="text" class="form-control" id="inputQuarterlyPremiumAmount" name="quarterlyPremiumAmount">
            </div>
            <div class="col">
              <label for="inputMonthlyPremiumAmount">Monthly</label>
              <input type="text" class="form-control" id="inputMonthlyPremiumAmount" name="monthlyPremiumAmount">
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label for="inputTotal">Total</label>
              <input type="text" class="form-control" id="inputTotal" name="total">
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group row">
            <input type="submit" value="Submit">
            <button>Edit</button>
          </div>

          <div class="form-group row">
            <button p 5>Delete</button>
            <button p 5>Refresh</button>
            <button p 5>Close</button>
          </div>
        </div>
      </div>


    </div>



    <!-- For Tabs -->
   <!--  <script type="text/javascript">
      $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    </script> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>